
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #111;
  color: #eee;
  transition: background-color 0.3s, color 0.3s;
}
body.locked {
  background-color: #300;
  color: #faa;
}
header, footer {
  padding: 1em;
  background: #222;
}
#defconBar {
  padding: 1em;
  background: #333;
  text-align: center;
}
